<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="main-header">Scrbbl</h1>
            <div>
               <h3>Scrbbl is currently under development.</h3> 
               <p>Although functionality may work on some occasions there may be other times where it doesn't.</p>
               <p>The design is also a work in progress and will be improving over the lifecycle of the site's development. If you have any suggestions please email me at cw5790@gmail.com</p>
            </div>
        </div>
    </div>
</div>