<div class="jumbotron">
    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="songinput">Radio station</label>
                                <div class="col-md-8">
                                    <select style="width: 80%" ng-model="selectedStation" ng-options="x.station for x in stations"></select>

                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>

        </div>


    </div>
</div>