<div class="jumbotron">
    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <form class="form-horizontal" ng-if="!success && !loading" name="lastfmuserform">
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="songinput">User</label>
                                <div class="col-md-8">
                                    <input id="lastfmuserinput" name="lastfmuserinput" type="text" ng-model="lastfmuser.name" class="form-control input-md" ng-required="true">
                                    <span ng-show="lastfmuserform.lastfmuserinput.$error.required && lastfmuserform.lastfmuserinput.$touched" style="color:#D32F2F">User field required</span>
                                </div>
                            </div>

                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="scrobblebutton"></label>
                                <div class="col-md-8 buttonsubmit" ng-if="user">
                                    <button id="searchbutton" name="searchbutton" class="btn btn-primary" ng-click="searchUser()" ng-disabled="albumform.$invalid">Search</button>
                                </div>
                                <div class="col-md-8 buttonsubmit" ng-if="!user">
                                    <button id="loginbutton" name="loginbutton" class="btn btn-danger" ng-click="authenticate()">Login with Last.FM</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <div ng-if="success">
                        <h4 ng-if="success">Scrobbled from user successfully</h4>
                        <button id="scrobbleagainbutton" name="srobbleagainbutton" class="btn btn-success" ng-click="refreshForm()">Scrobble another</button>
                    </div>
                    <div ng-if="loading">
                        <div class="loader">Loading...</div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 radio-track" ng-if="results" ng-repeat="result in results">
                    <div class="col-lg-1 col-md-1">
                        <input type="checkbox" ng-model="result.toScrobble">
                    </div>
                    <div class="col-lg-7 col-md-7" >
                        <p id="radio-track-info" style="margin-top:1px; font-weight:400;">{{result.artist}} - {{result.title}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 pull-right">
                        <p id="radio-track-date" style="margin-top:1px;">{{result.date}}</p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>