<div class="jumbotron">
    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <form class="form-horizontal" ng-if="!success && !loading" name="albumform">
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="songinput">Album</label>
                                <div class="col-md-8">
                                    <input ng-model="album.title" id="albumsearch" name="albumsearch" type="text" placeholder="" class="form-control input-md" ng-required="true">
                                    <span ng-show="albumform.albumsearch.$error.required && albumform.albumsearch.$touched" style="color:#D32F2F">Search field required</span>
                                </div>
                            </div>

                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="scrobblebutton"></label>
                                <div class="col-md-8 buttonsubmit" ng-if="user">
                                    <button id="searchbutton" name="searchbutton" class="btn btn-primary" ng-click="search()" ng-disabled="albumform.$invalid">Search</button>
                                </div>
                                <div class="col-md-8 buttonsubmit" ng-if="!user">
                                    <button id="loginbutton" name="loginbutton" class="btn btn-danger" ng-click="authenticate()">Login with Last.FM</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <div ng-if="selectedAlbum.artist">
                        <p>Scrobble {{selectedAlbum.artist}} - {{selectedAlbum.title}}?</p>
                        <button id="scrobblebutton" name="scrobblebutton" class="btn btn-success" ng-click="scrobbleAlbum()">Scrobble album</button>
                        <h4 style="margin-top:20px">Edit track tags</h4>
                    </div>
                        <div class="col-lg-12 track-edit" ng-if="album.tracks" ng-repeat="track in album.tracks">
                            <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 col-lg-4 control-label" for="artistinput">Artist</label>
                                <div class="col-md-8">
                                    <input ng-model="track.artistName" id="artistinput" name="artistinput" type="text" placeholder="" class="form-control input-md">


                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-lg-4 control-label" for="songinput">Song Title</label>
                                <div class="col-md-8">
                                    <input ng-model="track.trackCensoredName" id="songinput" name="songinput" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>
                        </fieldset>

                        </div>
                    <div ng-if="success">
                        <h4 ng-if="success">Album scrobbled successfully</h4>
                        <button id="scrobbleagainbutton" name="srobbleagainbutton" class="btn btn-success" ng-click="refreshForm()">Scrobble another</button>
                    </div>
                    <div ng-if="loading">
                        <div class="loader">Loading...</div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div class="result col-lg-12" ng-repeat="result in results" ng-click="selectResult(result)">
                        <div class="col-lg-3">
                            <img src="{{result.imageUrl}}" alt="{{result.title + ' artwork'}}" />
                        </div>

                        <div class="col-lg-9">
                            <h5>{{result.title}}</h5>
                            <p style="font-size:10px">{{result.artist}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>