<div class="jumbotron">
    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="songinput">Station</label>
                                <div class="col-md-8">
                                    <select style="width: 80%" ng-change="getStationPlays()"ng-model="selectedStation" 
                                                    ng-options="x.lastfmName as x.station for x in stations"></select>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 buttonsubmit" ng-if="user">
                                    <button id="radiobutton" name="radiobutton" class="btn btn-primary formbutton" ng-click="getStationPlays()">Display recent tracks</button>
                                </div>
                                <div class="col-md-8 buttonsubmit" ng-if="!user">
                                    <button id="loginbutton" name="loginbutton" class="btn btn-danger formbutton" ng-click="authenticate()">Login with Last.FM</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 radio-track" ng-if="results" ng-repeat="result in results">
                    <div class="col-lg-1 col-md-1">
                        <input type="checkbox">
                    </div>
                    <div class="col-lg-7 col-md-7" >
                        <p id="radio-track-info">{{result.artist}} - {{result.title}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 pull-right">
                        <p id="radio-track-date">{{result.date}}</p>
                    </div>
                    
                </div>
            </div>

        </div>


    </div>
</div>